.textInput {
    width: 300px;
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px #6c757d solid;
    border-radius: 4px;
    background-color: #f8f9fa;
  }