* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.textInput {
  width: 300px;
  padding: 0;
  font-size: 1.2rem;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  border: 1px #6c757d solid;
  border-radius: 4px;
  background-color: #f8f9fa;
}
